<div class="grid-container">

  <mat-card class="grid-item weatherDetailsCard" appearance="outlined">
    <mat-card-content>
      <div *ngIf="loaded" class="content">
        <div class="d-flex justify-content-evenly mt-3">
          <div class="currentTemperatureSection">
            <!-- <img [src]="iconUrl" alt="Current weather icon" /> -->
            <p [ngClass]="getTemperatureClass()" class="largeText mb-1">
              <mat-icon matTooltip="Current Temperature"
                class="cursorInitial align-middle increaseIconSize">thermostat</mat-icon> {{
              currentWeather().main?.temp }} &deg;
              {{isCelsius() ? 'C' : 'F'}}
            </p>
            <p class="blue-color text-center">
              <mat-icon matTooltip="Current Weather" class="align-middle cursorInitial">wb_cloudy</mat-icon> {{
              currentWeather().weather[0].main }}
              <!-- {{ currentWeather().weather[0].description }} -->
            </p>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div>
            <p style="margin-top: 10px" class="blue-color">
              <mat-icon matTooltip="Feels like" class="cursorInitial">thermostat</mat-icon> &nbsp;
              {{ currentWeather()?.main?.feels_like }} &deg;{{ isCelsius() ? 'C' : 'F' }}
            </p>
            <p class="blue-color">
              <mat-icon matTooltip="Pressure" class="cursorInitial">speed</mat-icon> &nbsp;
              {{ currentWeather().main.pressure }} hPa
            </p>
            <p class="blue-color">
              <mat-icon matTooltip="Humidity" class="cursorInitial">water_drop</mat-icon> &nbsp;
              {{ currentWeather().main.humidity }}%
            </p>
            <p class="blue-color">
              <mat-icon matTooltip="Wind" class="cursorInitial">air</mat-icon> &nbsp;
              {{ currentWeather().wind.speed }} km/h
            </p>
            <p class="blue-color">
              <mat-icon matTooltip="Clouds" class="cursorInitial">cloud</mat-icon> &nbsp;
              {{ currentWeather().clouds.all }}%
            </p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="grid-item weatherDetailsCard" appearance="outlined">
    <mat-card-content>
      <div class="weather-chart">
        <highcharts-chart [Highcharts]="Highcharts" [options]="temperatureChartOptions"
          style="width: 100%; height: 400px; display: block;"></highcharts-chart>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="grid-item weatherDetailsCard" appearance="outlined">
    <mat-card-content>
      <div class="weather-chart">
        <highcharts-chart [Highcharts]="Highcharts" [options]="windSpeedChartOptions"
          style="width: 100%; height: 400px; display: block;"></highcharts-chart>
      </div>
    </mat-card-content>
  </mat-card>
</div>