<div class="containerBox">
    <div class="grid-container">
        <div class="element-two-thirds">
            <h6 *ngIf="showCardDetails">
                Current weather in <b class="blue">{{ currentCityDetails?.name }}</b>
            </h6>
        </div>
        <div class="element-one-third">
            <app-search-city (selectedCity)="searchCity($event)"></app-search-city>
        </div>
    </div>
    <div class="mapComponent">
        <app-map (latLongSelected)="updateDetailsViaLatLon($event)"></app-map>
    </div>
    <div>
        <app-weather-display *ngIf="showCardDetails" [currentWeather]="currentCityDetails" [foreCastList]="foreCastList"
            [isCelsius]="metric()"></app-weather-display>
    </div>

</div>